/* Hoja para tema Rojo */

body {
    background-image: url('../img/rojo.jpg');
    background-attachment: fixed;
}
#logo {
    background: #CA3413;
}
#menu ul li:hover {
    background: #CA3413;
}
.button-more {
    background: #CA3413;
}